.contactForm {
  display: block;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 15px;
  width: 380px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid navy;
}

.contactField {
  display: block;
  margin: 0px auto;
  width: 200px;
  height: 20px;
  border-radius: 5px;
  padding: 15px 10px;

  margin-bottom: 5px;
}
.contactText {
  font-weight: 500;
}
